.login {
  position: relative;
  // width: 100%;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background: url("../../public/assets/login-bg.jpg") no-repeat center center;

  &-cols-2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    .form {
      margin-top: 3rem;

      p {
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: #04285c;
      }

      .password {
        margin-top: 1rem;
      }

      input {
        width: 100%;
        border-radius: 0.4rem;
        border: 0.1rem solid #e6e8ec;
        padding: 0.4rem 0.5rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: #04285c;

        &:focus {
          outline: 3px solid #0b63e561;
          border: 0.1rem solid #0b63e5;
        }
      }

      .passWrapper {
        width: 100%;
        border-radius: 0.3rem;
        border: 0.1rem solid #e6e8ec;
        display: flex;
        align-items: center;
        padding: 0.4rem 0.5rem;

        &:has(input:focus) {
          outline: 3px solid #0b63e561;
          border: 0.1rem solid #0b63e5;
        }

        input {
          border: none;
          outline: none;
          background: none;
          padding: 0;
        }
      }

      .forget_link {
        text-align: end;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .error {
        color: red;
        font-size: small;
        margin-top: 0.2rem;
        margin-right: 2rem;
      }
    }

    .submit-login {
      margin-top: 2rem;
      width: 100%;
      // background-color: #0b63e5;
      padding: 0.5rem 0;
      color: #fff;
      border-radius: 0.5rem;
      border: none;
      font-weight: 500;
      font-size: 1.1rem;
      cursor: pointer;
      transition: hover 0.2s ease-in-out;
    }

    .btn_login-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
